<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="consonants.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>consonants</title>
    <style>
        #ab {
            margin: 4px 3px;
        }
    </style>
</head>

<body style="background-color:#EEEEEE;">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg mt-1 w-100 " style="height:9%;">
        <div class="container-fluid ">
            <a class="nav-link " href="# " style="height:1%;border-radius:30px;color:white;background-color:black;padding:10px;">Gujarati Shikshak</a>
            <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNavAltMarkup " aria-controls="navbarNavAltMarkup " aria-expanded="false " aria-label="Toggle navigation ">
  <span class="navbar-toggler-icon "></span>
  </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup ">
                <div class="navbar-nav ">
                    <a class="nav-link  active  " id="ab" aria-current="page " href="# " style="border-radius:30px;color:white;background-color:black;">Home</a>
                </div>
            </div>
            <form>
                <button class="btn btn-outline-success mt-1 " style="border-radius:30px;color:white;background-color:black;" type="submit">Logout</button>
            </form>
        </div>
    </nav>
    <!-- Navbar End -->
    <br>
    <section style="background-image:url('blackboard.jpeg'); height: 100%;
    background-position-y: center;
    background-position-x:center;
    background-repeat: no-repeat;
    background-size: 80% 103%;
    margin-top:-10px;
    color:white;

    
    ">
        <h1 class=" barakhadi d-flex justify-content-center">&#2741;&#2765;&#2735;&#2690;&#2716;&#2728;(Consonants)</h1>
        <div class="container consonants" style="margin-left: 108px;
    margin-right: 20px;
    padding-left: 120px;
    padding-right: 12px;">
            <div class="row justify-content-md-center">
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 12px;" onclick="playAudio('audio/vyanjan/ka.ogg')">
                    <h3 class="p1">&#2709;</h3>
                    <h5>ka</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 12px;" onclick="playAudio('audio/vyanjan/kha.ogg')">
                    <h3 class="p1">&#2710;</h3>
                    <h5>kha</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 12px;" onclick="playAudio('audio/vyanjan/ga.ogg')">
                    <h3 class="p1">&#2711;</h3>
                    <h5>ga</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 12px;" onclick="playAudio('audio/vyanjan/gha.ogg')">
                    <h3 class="p1">&#2712;</h3>
                    <h5>gha</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/nya.ogg')">
                    <h3 class="p1">&#2713;</h3>
                    <h5>anga</h5>
                </div>

            </div>
            <div class="row justify-content-md-center">
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer; line-height: 15px;" onclick="playAudio('audio/vyanjan/cha.ogg')">
                    <h3 class="p1">&#2714;</h3>
                    <h5>cha</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer; line-height: 15px;" onclick="playAudio('audio/vyanjan/chha.ogg')">
                    <h3 class="p1">&#2715;</h3>
                    <h5>Cha</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer; line-height: 15px;" onclick="playAudio('audio/vyanjan/ja.ogg')">
                    <h3 class="p1">&#2716;</h3>
                    <h5>ja</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/jha.ogg')">
                    <h3 class="p1">&#2717;</h3>
                    <h5>jha</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/.ogg')">
                    <h3 class="p1">&#2718;</h3>
                    <h5>hYa</h5>
                </div>

            </div>
            <div class="row justify-content-md-center">
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/ta.ogg')">
                    <h3 class="p1">&#2719;</h3>
                    <h5>ta</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/tha.ogg')">
                    <h3 class="p1">&#2720;</h3>
                    <h5>Ta</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer; line-height: 15px;" onclick="playAudio('audio/vyanjan/da.ogg')">
                    <h3 class="p1">&#2721;</h3>
                    <h5>da</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer; line-height: 15px;" onclick="playAudio('audio/vyanjan/dha.ogg')">
                    <h3 class="p1">&#2722;</h3>
                    <h5>Da</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/ana.ogg')">
                    <h3 class="p1">&#2723;</h3>
                    <h5>Na</h5>
                </div>

            </div>
            <div class="row justify-content-md-center">
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/Taa.ogg')">
                    <h3 class="p1">&#2724;</h3>
                    <h5>tha</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/Thaa.ogg')">
                    <h3 class="p1">&#2725;</h3>
                    <h5>Tha</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/Daa.ogg')">
                    <h3 class="p1">&#2726;</h3>
                    <h5>dha</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/Dhaa.ogg')">
                    <h3 class="p1">&#2727;</h3>
                    <h5>Dha</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/na.ogg')">
                    <h3 class="p1">&#2728;</h3>
                    <h5>na</h5>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/pa.ogg')">
                    <h3 class="p1">&#2730;</h3>
                    <h5>pa</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/pha.ogg')">
                    <h3 class="p1">&#2731;</h3>
                    <h5>pha</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/ba.ogg')">
                    <h3 class="p1">&#2732;</h3>
                    <h5>ba</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/bha.ogg')">
                    <h3 class="p1">&#2733;</h3>
                    <h5>bha</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/ma.ogg')">
                    <h3 class="p1">&#2734;</h3>
                    <h5>ma</h5>
                </div>
            </div>



            <div class="row justify-content-md-center">
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/ya.ogg')">
                    <h3 class="p1">&#2735;</h3>
                    <h5>ya</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/ra.ogg')">
                    <h3 class="p1">&#2736;</h3>
                    <h5>ra</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/la.ogg')">
                    <h3 class="p1">&#2738;</h3>
                    <h5>la</h5>
                </div>

                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/va.ogg')">
                    <h3 class="p1">&#2741;</h3>
                    <h5>va</h5>
                </div>

            </div>
            <div class="row justify-content-md-center">
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/sha.ogg')">
                    <h3 class="p1">&#2742;</h3>
                    <h5>sha</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/shaa.ogg')">
                    <h3 class="p1">&#2743;</h3>
                    <h5>Sha</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/sa.ogg')">
                    <h3 class="p1">&#2744;</h3>
                    <h5>sa</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/ha.ogg')">
                    <h3 class="p1">&#2745;</h3>
                    <h5>ha</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/.ogg')">
                    <h3 class="p1">&#2739;</h3>
                    <h5>La</h5>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/ksha.ogg')">
                    <h3 class="p1">&#2709;&#2765;&#2743;</h3>
                    <h5>kSha</h5>
                </div>
                <div class="col col-lg-2 align-self-auto" style="cursor: pointer;line-height: 15px;" onclick="playAudio('audio/vyanjan/gna.ogg')">
                    <h3 class="p1">&#2716;&#2765;&#2718;</h3>
                    <h5>gna</h5>
                </div>
            </div>
        </div>
        </div>
    </section>

    <script>
        function playAudio(url) {
            new Audio(url).play();

        }
        // $("div").not(ele).each(function (index, audio) {
        //                 audio.pause();
        // }
    </script>

</body>

</html>