<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Pricing</a>
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </div>
            </div>
        </div>
    </nav>



    <!--Question section -->
    <div class="container centered ">
        <!--
        <div class="card" style="width:79rem;">
            <div class="card-header " style="width:79rem;">
                <p>&#2695; &#2728;&#2759; &#2744;&#2753; &#2709;&#2759;&#2741;&#2750;&#2735;&#2765;</p>
                <p>What do you call I?</p>
            </div>

            <div class="card-body ">
                <p>&#2745;&#2753;&#2690;</p>
            </div>

        </div>
        col-lg-1 col-offset-6 centered
    -->
        <div class="container col-sm-10 my-auto">
            <div class="card  mt-5 w-100 pt-1">

                <div class="card-body " style="height:5rem;">
                    <p>&#2724;&#2734;&#2759; &#2730;&#2763;&#2724;&#2750;&#2728;&#2759; &#2709;&#2759;&#2741;&#2752; &#2736;&#2752;&#2724;&#2759; &#2732;&#2763;&#2738;&#2750;&#2741;&#2763;?</p>
                    <p>How do you call yourself?</p>
                </div>


            </div>
            <div class="card  w-100 ">
                <div class="card-body" style="height:5rem;">
                    <p>&#2745;&#2753;&#2690;</p>
                    <p>I</p>
                </div>
            </div>
        </div>
        <div class="container col-sm-10 my-auto">
            <div class="card-group w-100 " style="height:18rem;">
                <div class="card w-100">


                </div>
                <div class="card">

                    <div class="card">

                    </div>
                </div>
            </div>
        </div>

        <!-- Question section  end-->
</body>

</html>